.product-card {
  border: 1px solid #666;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 5rem;
  gap: 2rem;
  transition: all 0.3s;
}

.product-card:hover {
  transform: translateY(-1.2rem);
}

.product-card-icons {
  display: flex;
  gap: 2rem;
}

.product-card p {
  font-size: 3.2rem;
}

.product-card-icon {
  font-size: 1.8rem;
  padding: 1.2rem;
  border: 1px solid #666;
}

.product-card-icon:hover {
  cursor: pointer;
  color: var(--color-primary);
}
