.product-cards {
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}

@media screen and (max-width: 1300px) {
  .product-cards {
    scale: 0.85;
  }
}

@media screen and (max-width: 1150px) {
  .product-cards {
    flex-direction: column;
    scale: 1;
  }
}
