.nav-bar {
  position: fixed;
  padding: 1.6rem 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  border-radius: 0;
  backdrop-filter: blur(8px);
  z-index: 10;
}

.nav-bar-logo {
  width: 6rem;
  border-radius: 100%;
}

.nav-bar ul {
  list-style: none;
  display: flex;
  align-items: space-between;
  gap: 4.6rem;
}

.nav-bar-icons {
  align-items: center;
}

.nav-bar-link:link {
  text-decoration: none;
  font-size: 2rem;
  font-weight: 500;
}

.nav-bar-link:hover,
.nav-bar-link:active {
  color: var(--color-primary);
}

.nav-bar-icon {
  font-size: 2.4rem;
}

.nav-bar-icon:hover {
  cursor: pointer;
  color: var(--color-primary);
}

.side__nav {
  background-color: var(--background-color);
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding-left: 5%;
  flex-direction: column;
  height: 100vh;
  width: 50%;
  position: absolute;
  top: 0%;
  right: 0;
  border-radius: 6px;
  transition: all 0.5s;
}

.hidden {
  right: -50%;
}

.side__nav .side__nav__link {
  font-size: 2.2rem;
  font-weight: 600;
  color: var(--color-primary);
  text-decoration: none;
}

.nav-icon {
  font-size: 3.6rem;
  align-self: center;
  color: var(--color-secondary);
  display: none;
  z-index: 200;
  top: 0%;
  right: 0;
}
.close-icon {
  color: var(--color-primary);
}

@media screen and (max-width: 1000px) {
  .nav-bar-links,
  .nav-bar-link {
    display: none;
    position: absolute;
  }

  .nav-icon {
    display: block;
  }
}

@media screen and (max-width: 700px) {
  .nav-bar {
    max-width: 100%;
  }
}
